PROYECTO INDIVIDUAL - DATA 06

Iniciamos importamos las liberias correspondientes

In [18]:
import pandas as pd
import numpy as np

Hacemos la ingesta de los archivos csv

In [19]:
df_amazon = pd.read_csv('Datasets/amazon_prime_titles-score.csv', sep=',' )
df_netflix = pd.read_csv('Datasets/netflix_titles-score.csv', sep=',' )
df_disney = pd.read_csv('Datasets/disney_plus_titles-score.csv', sep=',' )
df_hulu = pd.read_csv('Datasets/hulu_titles-score (2).csv', sep=',' )

Visualizamos los dataframes:

In [20]:
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [21]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",29
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",86
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,75
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",49
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,92

In [22]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,92
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",35
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,11

In [23]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,8
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,33
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,24

Verificamos que no haya duplicados

In [24]:
df_amazon[df_amazon.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, score]
Index: []

In [25]:
df_netflix[df_netflix.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, score]
Index: []

In [26]:
df_disney[df_disney.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, score]
Index: []

In [27]:
df_hulu[df_hulu.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, score]
Index: []

Iniciamos con las Transformaciones

1. Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [28]:
#Se crea el campo "id" agregando la primera letra de la plataforma
df_amazon['id'] = 'a' + df_amazon['show_id'] #
#Extraigo la  columna recien creada
first_column_a = df_amazon.pop('id') 
#Inserto el "id" como primera columna
df_amazon.insert(0,'id',first_column_a) 

#Se crea el campo "id" agregando la primera letra de la plataforma
df_hulu['id'] = 'h' + df_hulu['show_id'] 
#Extraigo la columna recien creada
first_column_h = df_hulu.pop('id') 
#Inserto el "id" como primera columna
df_hulu.insert(0,'id',first_column_h) 

#Se crea el campo "id" agregando la primera letra de la plataforma
df_netflix['id'] = 'n' + df_netflix['show_id'] 
#Extraigo columna recien creada
first_column_n = df_netflix.pop('id') 
#Inserto el "id" como primera columna
df_netflix.insert(0,'id',first_column_n) 

#Se crea el campo "id" agregando la primera letra de la plataforma
df_disney['id'] = 'd' + df_disney['show_id'] 
#Extraigo columna recien creada
first_column_d = df_disney.pop('id')
#Inserto el "id" como primera columna
df_disney.insert(0,'id',first_column_d)

In [29]:
#Se uninieron los csv's en uno solo
df_plataformas = pd.concat([df_amazon, df_netflix, df_disney,  df_hulu], axis=0) 
#Se elimina la columna "show_id"
df_plataformas.drop(["show_id"], axis = 1, inplace = True)

2. Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)

In [30]:
#Se reemplaza los NaNs con la letra "G"
df_plataformas['rating'].fillna('G', inplace = True)

3. De haber fechas, deberán tener el formato AAAA-mm-dd

In [31]:
#Elimino la coma para que cumpla con el formato de "pd.to_datatime"
df_plataformas['date_added'] = df_plataformas['date_added'].replace({',':''}, regex=True) 
#Cambio la columna de "str" a "datetime64"
df_plataformas['date_added'] = pd.to_datetime(df_plataformas['date_added'])

4. Los campos de texto deberán estar en minúsculas, sin excepciones

In [32]:
#Se pasa a miniscula todos los strings
df_plataformas['type'] = df_plataformas['type'].str.lower() 
#Se pasa a miniscula todos los strings
df_plataformas['title'] = df_plataformas['title'].str.lower() 
#Se pasa a miniscula todos los strings
df_plataformas['director'] = df_plataformas['director'].str.lower() 
#Se pasa a miniscula todos los strings
df_plataformas['cast'] = df_plataformas['cast'].str.lower() 
#Se pasa a miniscula todos los strings
df_plataformas['country'] = df_plataformas['country'].str.lower() 
#Se pasa a miniscula todos los strings
df_plataformas['rating'] = df_plataformas['rating'].str.lower()
#Se pasa a miniscula todos los strings
df_plataformas['listed_in'] = df_plataformas['listed_in'].str.lower() 
#Se pasa a miniscula todos los strings
df_plataformas['duration'] = df_plataformas['duration'].str.lower() 
#Se pasa a miniscula todos los strings
df_plataformas['description'] = df_plataformas['description'].str.lower()

5. El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [33]:
#Se crean los columna mediante la columna "duration" al separar sus strings por el " "(espacio) que hay entre ellos
df_plataformas[['duration_int', 'duration_type']] = df_plataformas['duration'].str.split(' ', n=-1, expand=True) 
#Se crea una variable para extraer la columna "duration_int"
columna_int = df_plataformas.pop('duration_int') 
#Insertamos la columna previamente extraida
df_plataformas.insert(10,'duration_int',columna_int) 
#Se crea una variable para extraer la columna "duration_type"
columna_type = df_plataformas.pop('duration_type') 
#Insertamos la columna previamente extraida
df_plataformas.insert(11,'duration_type',columna_type) 
#Reemplazmos todos los "seasons" por "season"
df_plataformas['duration_type'].replace("seasons","season", inplace = True) 
#Cambiamos la columna de "str" a "int64" 
df_plataformas['duration_int'] = df_plataformas['duration_int'].astype('Int64') 
#Eliminamos la columna "duration"
df_plataformas.drop('duration', axis = 1, inplace = True)

Por ultimo convertimos nuestro dataframe a un cvs para nuestro archivo main.py

In [34]:
df = pd.DataFrame(df_plataformas)
df.to_csv("plataformas.csv")